* {
    font-family: Arial, Helvetica, sans-serif;
}

    h1 { 
        color: violet; 
        font-size:0
        text-align:0%
    } 

    h2 {
        color:teal
    }

    h3 {
        color: #ff55a3;
    }

    h4 {
        color: violet;
    }

    li {
        color: teal;
    }

    body {
        background-color: thistle;
    }
    
    
    .topnav {
        background-color:yellow;
        overflow: hidden;
      }

      .topnav a {
        float: left;
        color: #89cff0;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;


    @media  (max-width: 500px){
        body{

        }
    }
  @media  (max-width: 500px){
      h1 {
          color:violet;
          font-size: 5rem;
      }
  }

  @media (max-width: 800px){
    h1 {
    color: purple
    font-size: 5rem;
  }

  @media (min-width: 500px) and (max-width: 800px){
      h1 {
          color:cadetblue
      }
  }
  