
    h1 { 
        color: violet; 
    } 

    h2 {
        color:teal
    }

    h3 {
        color: palevioletred;
    }

    h4 {
        color: violet;
    }

    li {
        color: teal;
    }
    
      
    /* window size 850 width set */
    @media screen and (max-width: 850px) { 
        .column { 
            width: 50%; 
        } 
    } 
 
    /* window size 400 width set */
    @media screen and (max-width: 400px) { 
        .column { 
            width: 100%; 
        } 
