
    h1 { 
        color: violet; 
    } 

    h2 {
        color:teal
    }

    h3 {
        color: #ff55a3;
    }

    h4 {
        color: violet;
    }

    li {
        color: teal;
    }

    body {
        background-color: thistle;
    }
    
   h5 {
    color: #ff55a3
   }